@model List<Tp07.MVC.Models.SuppliersView>

@{
    ViewBag.Title = "Suppiers NorthWind";
}

<h1>Suppliers NorthWind DB</h1>

<table class="table table-hover">
    <tr>
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Company Name</th>
            <th scope="col">Contact Name</th>
            <th scope="col">Contact Phone</th>
            <th scope="col">Action</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var supplier in Model)
    {
        <tr>
            <th scope="row">@supplier.Id</th>
            <td>@supplier.CompanyName</td>
            <td>@supplier.ContactName</td>
            <td>@supplier.Phone</td>            
            <td>@Html.ActionLink("Remove", "Delete", new { id = supplier.Id }, new { onclick = "return confirm('Are you sure you want to delete this Item?')" })</td>
            <td>@Html.ActionLink("Edit", "InsertUpdate", new { id = supplier.Id }, new { onclick = "return confirm('Are you sure you want to edit this Item?')" })</td>
        </tr>
    }
    </tbody>
</table>

<div>
    @Html.ActionLink("Add new Supplier", "InsertUpdate", new {id = 0}, new { @class = "btn btn-success" })
</div>