@model Tp07.MVC.Models.SuppliersView

@{
    bool add;
    if (Model == null)
    {
        add = true;
    }
    else
    {
        add = (Model.Id == 0) ? true : false;
    }
    string name = (add) ? "Insert" : "Edit";
    ViewBag.Title = name + " Supplier";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm("InsertUpdate", "Suppliers", FormMethod.Post))
{
    <div>
        <label>Company Name: </label><br />@Html.TextBoxFor(s => s.CompanyName)
        @Html.ValidationMessageFor(s => s.CompanyName)

    </div>
    <div>
        <br />
        <label>Contact Name: </label><br /> @Html.TextBoxFor(s => s.ContactName)
        @Html.ValidationMessageFor(s => s.ContactName)
    </div>
    <div>
        <br />
        <label>Phone Number: </label><br /> @Html.TextBoxFor(s => s.Phone)
        @Html.ValidationMessageFor(s => s.Phone)
    </div>
    <div>
        <br />
        <input type="submit" class="btn btn-success" value=@name />
        @Html.ActionLink("Cancel", "Index","" ,new { @class = "btn btn-success" })
    </div>


}